BasedOnStyle: LLVM   
IndentWidth: 2       
UseTab: ForIndentation  
TabWidth: 2          
BreakBeforeBraces: Attach  
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 0        
PointerAlignment: Left 
DerivePointerAlignment: false
NamespaceIndentation: All
FixNamespaceComments: false